body {
    background-color: rgb(8, 8, 8);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login {
    padding-left:35%;
    padding-right:35%;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
}

.welcome > h1 {
    margin-bottom: 1px;
}

.welcome > p {
    color: rgb(183, 183, 183);
    font-size: 12px;
    margin-bottom: 20px;
}

.provider {
    display: flex;
    gap: 20px;
    justify-content: center;
}


.google-container,
.apple-container {
    background-color: rgb(16, 16, 16);
    width: 200px;
    height: 50px;
    padding: 0 10px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border: none;
    color: white;
    cursor: pointer;

    transition: background-color 0.25s, transform 0.1s;
}


.google-container:hover,
.apple-container:hover {
    background-color: rgb(32, 32, 32);
}


.break-line {
  display: flex;
  margin-top: 10px;
  align-items: center;   
  gap: 12px;
  color: rgb(50, 50, 50);
}

.break-line hr {
  flex: 1;
  border: none;
  border-top: 1px solid rgb(49, 49, 49);
}

.break-line p {
  margin: 0;
  white-space: nowrap;
}

.email > h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.email-input {
 border: 1px solid #e8e8e839;
 padding: 10px;
 border-radius: 10px;
 background-color: rgb(10,10,10);
 font-size: small;
 width: 250px;
}

.email-input:focus {
 color: #e8e8e8;

}

.password-input {
 border: 1px solid #e8e8e839;
 padding: 10px;
 border-radius: 10px;
 background-color: rgb(10,10,10);
 font-size: small;
 width: 250px;
}

.password-input:focus {
 color: #e8e8e8;

}

.login-btn {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(26, 26, 26);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.25s, transform 0.1s;
}


.login-btn:hover {
    background-color: rgba(3, 202, 0, 0.805);
    font-weight: bold;
}

.forgot {
    color: rgb(255, 0, 255);
    font-size: 11px;
    display: block;
    margin-top: 5px;
}

.dont-have {
    font-size: 14px;
    color: rgb(255, 255, 255);
    justify-self: center;
}

.dont-have a {
    color: rgb(255, 0, 255);
}
