.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centra esattamente */
    width: 120px;
    height: 130px;
    border-radius: 26px;
    background: linear-gradient(
        135deg,
        #22c55e,
        #16a34a
    );
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    box-shadow: 0 20px 40px rgba(34, 197, 94, 0.35);
}

.check-icon {
    width: 50px;
    height: 50px;
}

.success-text {
    margin: 0;
    color: #ecfdf5;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.check-box.success {
  display: flex;
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
}


/* Body */
body {
    background: linear-gradient(135deg, #0a0a0a, #1a1a1a);
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Login Card */
.login {
    background-color: #121212;
    border-radius: 16px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.6);
    max-width: 600px;
    padding: 30px 25px 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Blur login */
.login.success {
  filter: blur(5px);
}

/* Welcome */
.welcome > h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 4px;
}

.welcome > p {
    color: #b7b7b7;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Provider buttons */
.provider {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.google-container,
.apple-container {
    background-color: #1a1a1a;
    width: 180px;
    height: 45px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.google-container:hover,
.apple-container:hover {
    background-color: #2c2c2c;
    transform: translateY(-2px);
}


/* Divider */
.break-line {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #555;
    margin: 10px 0;
}

.break-line hr {
    flex: 1;
    border: none;
    border-top: 1px solid #444;
}

.break-line p {
    margin: 0;
    font-size: 12px;
    white-space: nowrap;
}


/* Input fields */
.email > h4 {
    margin: 0 0 5px 0;
    font-weight: 500;
    position: relative;
}

.email-input,
.password-input,
.name-input {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 12px;
    background-color: #1a1a1a;
    font-size: 13px;
    width: 95%;
    color: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.email-input:focus,
.password-input:focus,
.name-input:focus {
    border-color: #03ca00;
    box-shadow: 0 0 6px rgba(3,202,0,0.5);
    outline: none;
}

.email-input.error,
.password-input.error,
.name-input.error {
    border-color: #e63946;
    outline: none;
}

.email-error-message,
.password-error-message,
.name-error-message {
  display: block;
  margin-bottom: 15px;
  font-size: 10px;
  color: #e63946;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.email-error-message.show,
.password-error-message.show
.name-error-message.show {
    opacity: 1;
}

/* Forgot & Signup */
.forgot {
    color: #ff00ff;
    font-size: 12px;
    text-align: right;
    display: block;
    margin-top: 2px;
    cursor: pointer;
    text-decoration: underline;
    margin-top: -25px;
    margin-bottom: 30px;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;    
}

/* Login Button */
.login-btn {
    display: block;
    background-color: #1a1a1a;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background: linear-gradient(90deg, #03ca00, #00ff8c);
    transform: translateY(-2px);
    font-weight: 600;
}


.dont-have {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

.dont-have a {
    color: #ff00ff;
    font-weight: 500;
    text-decoration: none;
}

.dont-have a:hover {
    text-decoration: underline;
}
