<div class="login">

    <div class="welcome">
        <h1>Welcome!</h1>
        <p>Log into Notes to access to your tasks</p>
    </div>


    <div class="provider">
        <button class="google-container">
            <img src="../assets/icons/google.png" alt="google-icon" style="height: 20px;">
            <h4>Login with Google</h4>
        </button>

        <button class="apple-container">
            <img src="../assets/icons/apple.png" alt="apple-icon" style="height: 20px;">
            <h4>Login with Apple</h4>
        </button>
    </div>


    <div class="break-line">
        <hr>
        <p>OR</p>
        <hr>
    </div>


    <div class="email">
        <h4>Email</h4>
        <input type="text" class="email-input" id="email-input" placeholder="Your email">
        <span class="email-error-message" id="email-error"></span>

        <h4>Password</h4>
        <input type="password" class="password-input" id="password-input" placeholder="Your password">
        <span class="password-error-message" id="password-error"></span>
    </div>
    
    <a href="" class="forgot">Forgot password?</a>

    <button class="login-btn" id="login">Login</button>

    <p class="dont-have">Don't have an account? <a href="../pages/register.html">Sign up</a></p>

</div>
